<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button"
			        class="navbar-toggle collapsed"
			        data-toggle="collapse"
			        data-target="#itube-navbar-collapse-2">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand v-mid" href="">
				<span class="fa fa-youtube-play"></span>
				iTube
			</a>
		</div>
		<div class="collapse navbar-collapse" id="itube-navbar-collapse-2">
			<ul class="nav navbar-nav">
				<li>
					<a href="#/profile" class="selected-link"><span class="fa fa-home nav-icon"></span>Profile</a>
				</li>
				<li>
					<a href="#/favorites"><span class="fa fa-heart nav-icon"></span>Favorites</a>
				</li>
				<li>
					<a href="#/network"><span class="fa fa-users nav-icon"></span>Network</a>
				</li>
				<li>
					<a href="#/discover">
						<span class="fa fa-search nav-icon"></span>
						Discover
					</a>
				</li>
				<li ng-if="model.user.role == 'admin'">
					<a href="#/admin">
						<span class="fa fa-user nav-icon"></span>
						Admin
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="" class="dropdown-toggle"
					   data-toggle="dropdown"
					   role="button"
					   aria-expanded="false">
						<span class="fa fa-user nav-icon"></span>
						{{currentUser.firstName}}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#/account"><span class="fa fa-cog nav-icon"></span>Settings</a></li>
						<li><a ng-click="model.logout()" href=""><span class="fa fa-sign-out nav-icon"></span>Sign Out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="center-content text-center">
		<h2>{{model.user.firstName}} {{model.user.lastName}}</h2>
		<hr/>
		<h6>
			<span class="fa fa-long-arrow-up nav-icon"></span>{{model.user.followers.length}}
			<span class="link-separator">|</span>
			<span class="fa fa-long-arrow-down nav-icon"></span>{{model.user.following.length}}
			<span class="link-separator">|</span>
			<span class="fa fa-heart nav-icon"></span>{{model.user.favorites.length}}
		</h6>
	</div>
	<br/>
	<h4>Recent videos from iTube</h4>
	<hr class="results-heading-separator"/>
	<br/>
	<div class="row">
		<div ng-show="!model.public.length" class="col-xs-12">
			<p class="center-content" style="font-size: 14px">Nothing to show here.</p>
		</div>
		<div ng-repeat="hit in model.public" class="col-sm-6 col-md-3 result">
			<div class="result-container">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item"
					        ng-src="{{hit.url}}" allowfullscreen>
					</iframe>
				</div>
				<div class="result-info">
					<h5 class="hit-title">{{hit.title}}</h5>
					<h6 class="hit-author">{{hit.author}}</h6>
					<h6 class="hit-description">{{hit.description}}</h6>
				</div>
				<hr class="results-heading-separator"/>
				<h6>
					<span class="fa fa-heart itube-heart-info"></span>
					<span class="badge">{{hit.favs}}</span>
					<a href="" class="btn btn-default itube-heart">
						<span class="fa fa-heart"></span>
						Add to Favorite
					</a>
				</h6>
			</div>
		</div>
	</div>
	<h4>Recent videos from your Network</h4>
	<hr class="results-heading-separator"/>
	<br/>
	<div class="row">
		<div ng-show="!model.network.length" class="col-xs-12">
			<p class="center-content" style="font-size: 14px">Nothing to show here.</p>
		</div>
		<div ng-repeat="hit in model.network" class="col-sm-6 col-md-3 result">
			<div class="result-container">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item"
					        ng-src="{{hit.url}}" allowfullscreen>
					</iframe>
				</div>
				<div class="result-info">
					<h5 class="hit-title">{{hit.title}}</h5>
					<h6 class="hit-author">{{hit.author}}</h6>
					<h6 class="hit-description">{{hit.description}}</h6>
				</div>
				<hr class="results-heading-separator"/>
				<h6>
					<span class="fa fa-heart itube-heart-info"></span>
					<span class="badge">{{hit.favs}}</span>
					<a href="" class="btn btn-default itube-heart">
						<span class="fa fa-heart"></span>
						Add to Favorite
					</a>
				</h6>
			</div>
		</div>
	</div>
</div>