/******************
Custom CSS styles
*******************/
.pseudo-margin {
	margin: 0 -15px;
}
.stick-to-left{
	float: left!important;
}
.stick-to-right{
	float: right!important;
	margin: 15px 0px;
	padding-right: 5px;
}
.navbar-brand{
	font-weight: bold;
}
.borderless{
	border: none;
}
.left-chevron{
	padding: 15px;
}
.left-padding-adjusted{
	padding-left: 15px;
}
a:hover{
	text-decoration: none;
}
input.form-control{
	margin-bottom: 5px;
}
body {
	padding-top: 60px;
	padding-bottom: 60px;
}