<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header stick-to-left left-chevron">
			<a href="/assignment/views/website/website-list.html" class="navbar-link">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
		</div>
		<a class="navbar-brand left-padding-adjusted" href="">Pages</a>
		<div class="stick-to-right">
			<a href="/assignment/views/page/page-new.html" class="navbar-link">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</div>
</nav>
<div class="container">
	<ul class="list-group">
		<li class="list-group-item borderless">
			<a href="/assignment/views/widget/widget-list.html">
				Blog Post
			</a>
			<p class="pull-right">
				<a href="/assignment/views/page/page-edit.html">
					<span class="glyphicon glyphicon-cog"></span>
				</a>
			</p>
		</li>
		<li class="list-group-item borderless">
			<a href="/assignment/views/widget/widget-list.html">
				Blogs
			</a>
			<p class="pull-right">
				<a href="/assignment/views/page/page-edit.html">
					<span class="glyphicon glyphicon-cog"></span>
				</a>
			</p>
		</li>
		<li class="list-group-item borderless">
			<a href="/assignment/views/widget/widget-list.html">
				Home
			</a>
			<p class="pull-right">
				<a href="/assignment/views/page/page-edit.html">
					<span class="glyphicon glyphicon-cog"></span>
				</a>
			</p>
		</li>
		<li class="list-group-item borderless">
			<a href="/assignment/views/widget/widget-list.html">
				About
			</a>
			<p class="pull-right">
				<a href="/assignment/views/page/page-edit.html">
					<span class="glyphicon glyphicon-cog"></span>
				</a>
			</p>
		</li>
		<li class="list-group-item borderless">
			<a href="/assignment/views/widget/widget-list.html">
				Contact Us
			</a>
			<p class="pull-right">
				<a href="/assignment/views/page/page-edit.html">
					<span class="glyphicon glyphicon-cog"></span>
				</a>
			</p>
		</li>
	</ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<div class="pseudo-margin stick-to-right">
			<a href="/assignment/views/user/profile.html">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</div>
	</div>
</nav>