<div class="container">
	<div ng-if="model.loginError" class="alert alert-danger alert-dismissible">
		{{model.loginError}}
	</div>
	<h1>Login</h1>
	<form>
		<input ng-model="username" type="text" class="form-control" placeholder="Username"/>
		<input ng-model="password" type="password" class="form-control" placeholder="Password"/>
		<a ng-click="model.login(username, password)" class="btn btn-primary btn-block">Login</a>
		<a ng-click="model.register()" class="btn btn-success btn-block">Register</a>
	</form>
</div>