<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<link href="../../img/favicon.ico" rel="icon" type="image/x-icon"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="../../css/styles.css"/>
</head>
<body>
<div class="container">
	<h1>Register</h1>
	<form>
		<input type="text" class="form-control" placeholder="Username"/>
		<input type="password" class="form-control" placeholder="Password"/>
		<input type="password" class="form-control" placeholder="Verify Password"/>
		<a href="profile.html" class="btn btn-primary btn-block">Register</a>
		<a href="login.html" class="btn btn-danger btn-block">Cancel</a>
	</form>
</div>
</body>
</html>