<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="viewport" content="initial-scale=1.25, user-scalable = no">
	<title>Choose Widget</title>
	<link href="/assignment/img/favicon.ico" rel="icon" type="image/x-icon"/>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/assignment/css/styles.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header stick-to-left left-chevron">
			<a href="/assignment/views/widget/widget-list.html" class="navbar-link">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
		</div>
		<a class="navbar-brand left-padding-adjusted" href="">Choose Widget</a>
	</div>
</nav>
<div class="container">
	<ul class="list-group">
		<li class="list-group-item borderless">
			<a href="/assignment/views/widget/widget-heading.html">
				Header
			</a>
		</li>
		<li class="list-group-item borderless">
			<a href="">
				Label
			</a>
		</li>
		<li class="list-group-item borderless">
			<a href="">
				HTML
			</a>
		</li>
		<li class="list-group-item borderless">
			<a href="">
				Text Input
			</a>
		</li>
		<li class="list-group-item borderless">
			<a href="">
				Link
			</a>
		</li>
		<li class="list-group-item borderless">
			<a href="">
				Button
			</a>
		</li>
		<li class="list-group-item borderless">
			<a href="/assignment/views/widget/widget-image.html">
				Image
			</a>
		</li>
		<li class="list-group-item borderless">
			<a href="/assignment/views/widget/widget-youtube.html">
				YouTube
			</a>
		</li>
		<li class="list-group-item borderless">
			<a href="">
				Data Table
			</a>
		</li>
		<li class="list-group-item borderless">
			<a href="">
				Repeater
			</a>
		</li>
	</ul>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<div class="pseudo-margin stick-to-right">
			<a href="/assignment/views/user/profile.html">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</div>
	</div>
</nav>
</body>
</html>